@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

/*NAVY BAR*/
.wrapper {
	width: 80%;
	margin: 0 auto;
}

header {
	height: 100px;
	background: #3B5249;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 27px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 2px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 1px;
	font-size: 17px;
	margin: 0 10px;
	color: #fff;
}
/*Formulario*/
.content-area {
	width: 100%;
	position: relative;
	top: 100px;
	background: #ebebeb;
	height: 800px;
}

.titulo{ /*Casdastre seu pet*/
    position: relative;
    bottom: 40px;
    padding: 20px;
    font-family: poppins;
	  letter-spacing: 1px;
  	padding-top: 30px;
	  font-size: 30px;
  	margin: 0;
}

.container{
    position:relative;
    left:50%;
    transform: translate(-50%);
    max-width: 1150px;
    width: 100%;
    height: 525px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    top: 80px;
  }

  form{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    gap: 25px;
}

section{
    display: flex;
    gap: 100px;
    position: relative;
    bottom: 50px;
    left: 20px;
}

.divisao-1{ /*nome, cor, animal, foto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start !important; 
    position: relative;
    bottom: 40px;
}

.divisao-2{ /*cidade, bairro, referencia, estado*/
    display: flex;
    flex-direction: column;
}

.name{
  padding: 15px;
  height: 40px;
  width: 450px;
}

.divisao-1 input[type="file"]{
  display: none;
}

.animal-photo{
  position: relative ;
  left: 70px ;
  top: 30px;
  width: 300px;
  background-color: #2e3e38;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}

.divisao-2 label{
  padding: 15px;
  height: 40px;
  width: 450px;
}

.name{
    font-size: 20px;
    position: relative;
    bottom: 5px;
    right: 10px;
}

.holder{
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  height: 40px;
  width: 450px;
}

.divisao-1 select{
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  height: 40px;
  width: 450px;
}

#animal-select{
  line-height: 1;
  font-size: 18px;
  border-radius: 5px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;;
}

.divisao-2 select{
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  height: 40px;
  width: 450px;
}

  button{ 
     position: relative;
     background:#2e3e38;
     cursor: pointer;
     font-weight: 500;
     letter-spacing: 1px;
     font-size: 18px;
     border-radius: 5px;
     border: none;
     color: #fff;
     background-size: 30px;
     height: 45px;
     width: 500px;
     top: 70px;
     right: 300px;
  }


/* footer */

footer{
    background: #3B5249;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .0,8s ease;
}

.socials a:hover {
    color: rgb(161, 168, 166) 
}

.footer-bottom{
    background: #374d44;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing:2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* Barra de rolagem */

/* Fundo que corre */

::-webkit-scrollbar-track{
	background-color:#f4f4f4;
}

/* Fundo que corre */

::-webkit-scrollbar{
	width: 12px;
	background: #f4f4f4;
}

/* Linha que desce */

::-webkit-scrollbar-thumb{
	background:#2e3e38;
}
